{% include "partials/header.html" %}

<body class="h-full">
    <div class="container">
        <h2>Login</h2>
        <form action="#" method="POST" enctype="multipart/form-data">

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Log In</button>
        </form>

        <p>You don't have an account? <a href="#">Sign Up</a></p>
    </div>
</body>

</html>