<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Daily</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">

</head>

<body>
    <div class="wrapper">
        <div class="flash-messages">
            {% with messages=get_flashed_messages(with_categories=true)%}
            {% if messages%}
            {% for category, message in messages%}
            <div class="flash-message flash-{{category}}">
                {{message}}
            </div>
            <script>
                setTimeout(function () {
                    var flashMessage = document.querySelector('.flash-message');
                    flashMessage.parentNode.removeChild(flashMessage);
                }, 4000);
            </script>
            {% endfor %}
            {%endif%}
            {% endwith%}
        </div>

        <div class="top">
            <div class="navbar-buttons">
                {% if current_user.is_authenticated%}
                <p style="color: aliceblue; font-weight:bold;">
                    Welcome, {{current_user.username}}!
                </p>
                <a href="{{url_for('logout')}}" class="btn btn-danger">Logout</a>

                {%else%}

                <a href="{{url_for('register')}}" class="btn btn-primary">Register</a>
                <a href="{{url_for('login')}}" class="btn btn-secondary">Login</a>


                {%endif%}
            </div>
            <div class="title">
                <h1 style="font-weight: bold;">Daily</h1>
            </div>
        </div>